.button{
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3ms ease;
    font-family: 'Courier New', Courier, monospace;
}

.sm{
    padding: 6px 12px;
    font-size: 12px;
}

.lg{
    padding: 12px 18px;
    font-size: 20px;
}

.md{
    padding: 10px 13px;
    font-size: 15px;
}

.blue{
    background-color: rgba(33, 33, 185, 0.574);
    color: white;
}

.blue:hover{
    background-color: black;
}


.green {
  background-color: #10B981;
  color: white;
}

.green:hover {
  background-color: #059669;
}

.red {
  background-color: #EF4444;
  color: white;
}

.red:hover {
  background-color: #DC2626;
}