.tabs{
    padding: 20px;
    background: #000;
    border-radius: 15px;
    box-shadow: 0, 2px, 3px, 4px rgba(.67, 0.69, 0.31, 0,);
    margin: 40px;
}
.tabsButtons{
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    border-bottom: 2px solid #121212;
}
.tabsButtons button{
    padding: 12px;
    background: #000;
    border: none;
    cursor: pointer;
    font-size: 41px;
    color: #676;
    border-bottom: 3px solid black;
    transition: all 0.3;
}
.tabsButtons:hover{
    color: aliceblue;
}
.tabsButtons button.active{
    color: black;
    border-bottom-color: blue;
}
.tabContent{
    padding: 10px;
    font-size: 12px;
    color: #000;
}