.UserDetails{
     background: white;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar{
    width: 100px;
    height: 110px;
    border-radius: 67%;
    object-fit: cover;
}

.button{
    background: white;
    color: black;
    padding: 6px 12px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    background: mediumslateblue;
}